    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>PC不要のIoT体験</h2>
              <br/>
                BunBun Dishはお持ちのスマートフォンを接続することで、誰でも簡単にIoTのプログラミングができるキットです。
                <br />
                例えば、外出先からエアコンをONにしたり、朝になったらリビングの照明を点けたり・・・
                といったことが、スマートフォンだけで設定出来ます。
            </div>
        </div>
    </section>
